@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
body { 
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    color: black;
}
header {
    background: whitesmoke;
    margin: 30px;
}
header nav {
    padding: 30px 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav img {
    margin: 0;
}
header nav .right {
    display: flex;
    align-items: center;

}
header nav .right p {
    margin: 0 15px 0 0;
    cursor: pointer;
}
header nav .right p:hover{
    color: brown;
    
}
.photos {
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    /* justify-content: space-evenly; */
    margin: 20px;
}
.banner-text1 {
    position: absolute;
    top: 40%;
    color: white;
    padding: 20px;
    /* font-weight: bold; */

}
.banner-text1 h1 {
    font-size: 50px;
    font-weight: 900;
    position: relative;
}
.banner-text1 button {
    border: 1px solid white;
    background: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
   
}

.banner-textA {
    position: absolute;
    top: 25%;
    color: white;
    padding: 50px;

}
.banner-textB {
    position: absolute;
    top: 25%;
    color: white;
    padding: 50px;

}
.banner-textC {
    position: absolute;
    top: 65%;
    color: white;
    padding: 50px;

}
.banner-textD {
    position: absolute;
    top: 65%;
    color: white;
    padding: 50px;

}

.baner2 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.men {
    flex-direction: column;
    gap: 25px 15px;
}
.pics {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-evenly;
}
.txt {
     margin-left: 70px;
}
.women {
    flex-direction: column;
    gap: 25px 15px;
}
.txt2 {
    margin-left: 70px;
}
.pics2 {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-evenly;
}
.kid {
    flex-direction: column;
    gap: 25px 15px; 
}
.txt3 {
    margin-left: 70px;
}
.pics3 {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-evenly;
}
.text {
    height: 300px;
    width: 450px;
    padding-left: 25px;
}

.part1 {
    height: 500px;
    width: 90%;
    border: dashed 2px white;
    display: flex;
    gap: 5%;
    align-items: center;
    padding-left: 5%;
}
.part1 .spart1 button{
    border: 1px solid black;
    background: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}
.spart1 {
    height: 500px;
    width: 45%;
    border: solid 2px white;
}
.spart2 {
    height: 500px;
    width: 50%;
    border: solid 2px white;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5%;
}

.sspart1 {
    height: 240px;
    width: 46%;
    border: solid 2px white;
    background: rgb(204, 203, 203);
}
.banner-text00 h3 {
    font-size: 50px;
    font-weight: 900;
    position: relative;
}
.sspart2 {
    height: 240px;
    width: 46%;
    border: solid 2px white;
}
.sspart3 {
    height: 240px;
    width: 46%;
    border: solid 2px white;
}
.sspart4 {
    height: 240px;
    width: 46%;
    border: solid 2px white;
    background: rgb(204, 203, 203);
}
/* .banner-text10 h3 {
    font-size: 50px;
    font-weight: 900;
    position: absolute;
} */
.media {
    height: 500px;
    width: 100%;
    border: dashed 2px white;
}
.txtmedia {
    height: 100px;
    width: 90%;
    border: solid 2px white;
    padding-left: 5%;
}
.picsmedia {
    height: 200px;
    width: 99%;
    border: solid 2px white;
    display: flex;
    margin-top: 50px;
    padding-left: 2%;
    flex-direction: row;
}
.instagram1 {
    display: flex;
}
.instagram2 {
    display: flex;
}
.instagram3 {
    display: flex;
}
.instagram4 {
    display: flex;
}
.instagram5 {
    display: flex;
}
.sub {
    height: 500px;
    width: 95%;
    border: dashed 2px white;
    display: flex;
    gap: 2%;
  }
  
  .subs {
    height: 450px;
    width: 45%;
    border: solid 2px white;
    padding-top: 25px;
    padding-left: 100px;
  }
  .sub .subs button{
    border: 1px solid black;
    background: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    height: 10%;
    color: dimgray;
}
  
  .coord {
    height: 450px;
    width: 50%;
    border: solid 2px white;
    display: flex;
    flex-wrap: wrap;
  }
  
  .store {
    height: 100px;
    width: 45%;
    border: solid 2px white;
  }
  
  .work {
    height: 100px;
    width: 45%;
    border: solid 2px white;
  }
  
  .phone {
    height: 100px;
    width: 45%;
    border: solid 2px white;
  }
  
  .email {
    height: 100px;
    width: 45%;
    border: solid 2px white;
  }
  
  .office {
    height: 100px;
    width: 45%;
    border: solid 2px white;
  }
  
  .social {
    height: 100px;
    width: 45%;
    border: solid 2px white;
  }

footer {
    margin: 0;
    padding: 20px 10%;
    background-color: black;
    color: white;
    /* display: flex; 
    flex-wrap: wrap;
    justify-content: space-around; */

}
.End1 {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;

}
footer h3 {
    font-weight: Solid bold;
}
.End1 p {
    cursor: pointer;
    color: white; 

}

.End1 p:hover{
    color: brown;
}
footer h4 {
    display: flex;
    align-items: end;
    justify-content: flex-end;
}
.End {
    text-align: center;
}
.SVG {
    display: flex;
    justify-content: center;
    gap: 2%;
}





